#
# Node database DI configuration
#
# @license		More in license.md
# @copyright	https://www.fastybird.com
# @author		Adam Kadlec <adam.kadlec@fastybird.com>
# @package		FastyBird:Database!
# @subpackage	config
# @since		0.1.0
#
# @date			25.05.20

php:
	date.timezone: Europe/Prague

extensions:
	contributteConsole			: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	contributteEvents			: Contributte\EventDispatcher\DI\EventDispatcherExtension
	nettrineAnnotations			: Nettrine\Annotations\DI\AnnotationsExtension
	nettrineCache				: Nettrine\Cache\DI\CacheExtension
	nettrineDbal				: Nettrine\DBAL\DI\DbalExtension
	nettrineOrm					: Nettrine\ORM\DI\OrmExtension
	nettrineOrmAnnotations		: Nettrine\ORM\DI\OrmAnnotationsExtension
	nettrineOrmConsole			: Nettrine\ORM\DI\OrmConsoleExtension
	fbWebServer					: FastyBird\WebServer\DI\WebServerExtension

contributteConsole:
	name: FastyBird:Libraries!
	version: '1.0'
	catchExceptions: true
	autoExit: true
	url: http://example.com
	lazy: false
	helperSet: \Symfony\Component\Console\Helper\HelperSet
	helpers: []

nettrineDbal:
	connection:
		host: 127.0.0.1
		driver: pdo_sqlite
		memory: true

nettrineAnnotations:
	debug: %debugMode%

nettrineOrm:
	configuration:
		proxyDir	: %tempDir%/cache/doctrine.proxies

nettrineOrmAnnotations:
	mapping: []
